<div class="tab_header">
<span id="deviceIdDiv" ></span>
</div>
<div class="tab_content">
	<div class="tab_tl">
		<div>
			<div class="right" id="missionRep"></div>
			<div class="left" id="missionName"></div>
		</div>
		<div id="missionExcludedKeywords"></div>
		<div id="missionText"></div>
		<div id="missionBonus"></div>
		<div id="missionRequirement"></div>
		
		<div id="GameTab_startShadowrun" class="tab_button clickable">&gt;&gt; Do this run!</div>
		
	</div>
	
	<div class="tab_tr">
		<div>Challenge 1: <span id="challenge0_title"></span></div>
		<div id="challenge0_text"></div>
		<div id="challenge0_requirement"></div>
		<div id="challenge0_keywords"></div>
		<div id="challenge0_reqAttributes"></div>
	</div>
	
	<div class="tab_bl">
		<div>Challenge 2: <span id="challenge1_title"></span></div>
		<div id="challenge1_text"></div>
		<div id="challenge1_requirement"></div>
		<div id="challenge1_keywords"></div>
		<div id="challenge1_reqAttributes"></div>
	</div>
	
	<div class="tab_br">
		<div>Challenge 3: <span id="challenge2_title"></span></div>
		<div id="challenge2_text"></div>
		<div id="challenge2_requirement"></div>
		<div id="challenge2_keywords"></div>
		<div id="challenge2_reqAttributes"></div>
	</div>
</div>
