<div id="activePlayerDiv" class="pho_content"></div>

<div id="GamePho_nextPlayer" class="pho_content clickable" style="display:none">&gt;&gt; Next player</div>

<div id="GamePho_playCard" class="pho_content clickable">&gt;&gt; Play card</div>