<div class="por_content">Number of players <input type="number" name="numberPlayers" value="2" min="2" max="5" style="width:40px;" /></div>

<div class="por_content">Reputation to win the game <input type="number" name="reputationToWin" value="50" style="width:60px;" /></div>

<div class="por_content">Number of objectives <input type="number" name="numberOfObjectives" value="3" style="width:60px;" /></div>

<div id="NewGame_create" class="por_content clickable">Create</div>

