<div id="playTab_cards" class="cardArea"></div>
<div style="clear:both;"></div>

<input type="hidden" name="cardId" id="cardId"/>
	
<div id="PlayCardCheck_play" class="por_content clickable">Play</div>

<div id="PlayCardCheck_cancel" class="por_content clickable">Cancel</div>

