<div class="por_content">Card ID to play: <input type="text" name="cardId" style="width:70px;" autocorrect="off" autocomplete="off" /></div>

<div id="PlayCard_play" class="por_content clickable">Play</div>

<div id="PlayCard_cancel" class="por_content clickable">Cancel</div>

