/* GENERAL */

html,body {
	height:100%;
	font-family: Arial;
	font-size: 30px;
	padding: 0px;
	margin: 0px;
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input {
	font-size: 30px;
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

/* http://jsfiddle.net/jackJoe/fxWg7/ */
.right {
	width: 100px;
	float: right;
}
.left {
	overflow: hidden;	
}

#templates {
	display:none;
}

/* PORTAL */

#menuTab {
	width: calc( 100% - 10px );
	background-color: #ddd;
	border-bottom:2px solid black;
	overflow:hidden;
	padding:5px;
}

#menuTabPlay {
	width:32%;
	float:left;
	text-align: center;
	border:1px solid black;
}
#menuTabInfo {
	width:32%;
	float:right;
	text-align: center;
}
#menuTabCard {
	width:32%;
	float:right;
	text-align: center;
}

#infoTab {
	display:none;
}

#cardTab {
	display:none;
}

#playTab {
	height:calc( 100% - 50px );
}


/* PORTAL */

.por_content {
	width: 380px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	background: #ddd;
	border-radius: 5px;
	border: 1px solid #CCC;
	margin-top: 10px;
}

/* CARDS */

.cardOuter {
	float: left;	
}

.cardInner {		
	border: 2px solid black;
	border-radius: 20px;
	width: 200px;
	height: 300px;
	padding: 10px;
	margin: 10px;
	font-size: 20px;
}

/* PHONE */

.pho_content {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	background: #ddd;
	border-radius: 5px;
	border: 1px solid #CCC;
	margin-top: 10px;	
}

.cardArea {
	margin-left: auto;
	margin-right: auto;
	width: 700px;	
}

/* TABLET */

.tab_header {
	position:relative;
	height:30px;
	border-bottom:3px solid black;
}

.tab_content {
	position:relative;
	height: calc( 100% - 20px );
}

.tab_button {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	background: #ddd;
	border-radius: 5px;
	border: 1px solid #CCC;
	margin-top: 10px;	
}

.tab_tl,.tab_tr,.tab_bl,.tab_br {
	padding: 10px;
}

.tab_tl { 
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 50%; 
	bottom: 50%; 
	border:solid #000; 
	border-width: 0 3px 3px 0; 
}

.tab_tr { 
	position: absolute; 
	top: 0; 
	left: 50%; 
	right: 0; 
	bottom: 50%; 
	border:solid #000; 
	border-width: 0 0 3px 0; 
}

.tab_bl { 
	position: absolute; 
	top: 50%; 
	left: 0; 
	right: 50%; 
	bottom: 0; 
	border:solid #000; 
	border-width: 0 3px 0 0; 
}

.tab_br { 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	right: 0; 
	bottom: 0; 
} 

#missionName {
	
}

#missionRep {
	width: 25px;	
}


















